/* Footer.css */
.footer {
    background-color: #232F3E;
    padding: 10px 0;
    color: #fff;
    width: 100%;
    position: relative;
    margin-top: auto;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 100px;
    height: auto;
}

.footer-content p {
    margin: 0;
}

.portfolio-link a {
    font-size: 28px;
    text-decoration: none;
    color: #ffffff;
}

.portfolio-link a:hover {
    color: #aaa2a2;
}